/* http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } /* remember to define visible focus styles!  :focus { outline: ?????; } */ /* remember to highlight inserts somehow! */ ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

html {
	font-size: 10px;
}

body {
	background: #666;
}

:root {
	--bg-color: #fff;
	--fg-color: #12006d;
}

.hidden {
	display: none;
}

.centered {
	text-align: center;
}

#wrapper {
	/*width: 95vw;*/
	/*padding: 2.5vw;*/
	width: 100vw;
	height: 100vh;
}

#wrapper * {
	user-select: none;
}

#game {
	width: 800px;
	/*margin: 0 auto;*/
	box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.8);
}

.over {
	/*width: 100%;
	height: 100%;*/
	/* set to canvas size */
	width: 800px;
	height: 600px;
	overflow: hidden;
	position: fixed;
	top: 0;
	color: #fff;
}

.over * {
	/*color: #fff;*/
	/*font-size: 3rem;*/
	/*position: relative;*/
	/*top: 0;*/
	/*left: 0;*/
}

svg {
	background: var(--bg-color);
}

svg .dot {
	fill: var(--fg-color);
	transition: r .25s;
}

svg .dot:hover {
	r: 16
}

svg .wall {
	stroke: var(--fg-color);
	stroke-width: 8;
	pointer-events: none;
}

svg .box {
	fill: var(--bg-color);
}

svg .pl0 {
	stroke: #ed0000;
	fill: #ed0000;
}

svg .pl1 {
	stroke: #0000ed;
	fill: #0000ed;
}
